*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
html,body{
	height: 100%;
}
.swiper-container {
   	width: 100%;
	height: 100%;

}  
/*公共部分样式*/

/*上划图标（公共部分）*/
.arrow{
	width: 100%;
	text-align: center;
	position: absolute;
	z-index: 9999;
	bottom:5%;
	animation:arrowMove 2s ease infinite ;
	-webkit-animation:arrowMove 2s ease infinite ;
}
.arrow img{
	width:16%;
}
@keyframes arrowMove{
	0%{
		-webkit-transform:translateY(0);
		transform:translateY(0);
		opacity:1;
	}
	100%{
		-webkit-transform:translateY(-40px);
		transform:translateY(-40px);
		opacity:0;
	}
}
@-webkit-keyframes arrowMove{
	0%{
		-webkit-transform:translateY(0);
		transform:translateY(0);
		opacity:1;
	}
	100%{
		-webkit-transform:translateY(-40px);
		transform:translateY(-40px);
		opacity:0;
	}
}
#music{
	position: absolute;
	top:3%;
	right:3%;
	z-index: 9999;
	border: 1px solid #fff;
	border-radius: 100%;
}


@keyframes musicmove{
	0%{
		transform:rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
	}
}
@-webkit-keyframes musicmove{
	0%{
		transform:rotateY(0deg);
		-webkit-transform:rotateY(0deg);
	}
	100%{
		transform: rotateY(360deg);
		-webkit-transform: rotateY(360deg);
	}
}
/*第一屏*/
.slide1{
	background: url(../img/1-bg.jpg);
	background-size: cover;
	
}
.slide1_pic1{
	width:60%;
	margin:30% 20% auto;
}
.slide1_pic2{
	margin:15% 5% auto;
	width:90%;
}

/*第二屏*/
.slide2{
	background: url(../img/bj-2.png);
	background-size: cover;
	
}
.slide2_title{
	margin:24% 5%;
	padding:3% 3% 7%;
	width: 84%;
	background: rgba(255,255,255,.3);
	font-size: 1.5rem;
	
}
.slide2_p1{
	text-align: center;
	color:#F8E402;
	font-size:165%;
	font-weight: bold;
}
.slide2_p2{
	color: #f5f5f5;
	font-size:137%;
}
.slide2_ico{
	position: absolute;
	bottom: 10%;
	margin:auto 5%;
	padding-left: 5%;
	width: 90%;
}
.slide2_ico img{
	width:25%;
	margin-right:7%;
}
.slide2_ico4{
	margin-left: 15%;
}
/*第三屏*/
.slide3{
	background: url(../img/bj-3.png);
	background-size:cover;
}
/*第四屏*/
.slide4{
	background: url(../img/bj-4.png);
	background-size:cover;
}
.slide4_h3{
	font-size: 350%;
	margin:30% auto;
	color:#f5f5f5;
	text-align: center;
	font-weight: normal;
}
.slide4_page4{
	width: 100%;
	text-align: center;
	transform:scale(1);

}
@keyframes page4{
	0%{
		transform:scale(1) rotateZ(0deg);
		-webkit-transform:scale(1) rotateZ(0deg);
	}
	50%{
		transform:scale(1.5) rotateZ(360deg);
		-webkit-transform:scale(1.5) rotateZ(360deg);
	}
	100%{
		transform:scale(1.5) rotateZ(0deg);
		-webkit-transform:scale(1.5) rotateZ(0deg);
	}
}
@-webkit-keyframes page4{
0%{
		transform:scale(1) rotateZ(0deg);
		-webkit-transform:scale(1) rotateZ(0deg);
	}
	50%{
		transform:scale(1.5) rotateZ(360deg);
		-webkit-transform:scale(1.5) rotateZ(360deg);
	}
	100%{
		transform:scale(1.5) rotateZ(0deg);
		-webkit-transform:scale(1.5) rotateZ(0deg);
	}
}
/*第五、六、七、八屏*/
.slide5,.slide6,.slide7,.slide8{
	background: url(../img/9-bg.jpg);
	background-size: cover;
}
.slide5_ico,.slide6_ico,.slide7_ico,.slide8_ico{
	margin:7% auto;
	text-align: center;
	transform: scale(1);
	-webkit-transform: scale(1);
}

@keyframes icomove{
	0%{
		transform: scale(1) rotateY(0deg);
		-webkit-transform: scale(1) rotateY(0deg);
	}
	50%{
		transform: scale(1.6) rotateY(180deg);
		-webkit-transform: scale(1.6) rotateY(180deg);
	}
	100%{
		transform: scale(1) rotateY(0deg);
		-webkit-transform: scale(1) rotateY(0deg);
	}
}
@-webkit-keyframes icomove{
		0%{
		transform: scale(1) rotateY(0deg);
		-webkit-transform: scale(1) rotateY(0deg);
	}
	50%{
		transform: scale(1.6) rotateY(180deg);
		-webkit-transform: scale(1.6) rotateY(180deg);
	}
	100%{
		transform: scale(1) rotateY(0deg);
		-webkit-transform: scale(1) rotateY(0deg);
	}
}
.slide5_p{
	width: 86%;
	color:#f5f5f5;
	font-size: 270%;
	line-height: 4.5rem;
	padding:3% 7%;
}

/*第九屏*/
.slide9{
	background: black;
}
.slide9 div img:nth-child(even){
	margin-left: 7%;
	margin-top: 5%;
}
.slide9 div img:nth-child(odd){
	margin-left: 7%;
	margin-top: 5%;
}
/*第十屏*/
.slide10{
	background: url(../img/9-bg.jpg);
	background-size: cover;
}
.slide10 p:nth-child(1){
	font-size:470%;
	color: #fff;
	
	margin:10% 7%;
}
.slide10 p:nth-child(2){
	width: 90%;
	height: 30%;
	font-size: 250%;
	color: #fff;
	line-height: 4.5rem;
	margin:15% 5% 0;

	display: block;
}
.slide10 img{
	width: 90%;
	margin:0 5%;
}
/*第十一屏*/
.slide11{
	background: black;
}
.slide11 img{
	width:100%;
}
.slide11 div img{
	width:45%;
	margin:2% 2%;
}
.slide11 div{
	width:89%;
	margin:0 6%;
}
/*第十二屏*/
.slide12{
	background: url(../img/page11.jpg);
	background-size: cover;
}
.slide12 div{
	width:100%;
	margin-top:30%;
}
.slide12 div img{
	width:110%;
	opacity: 0;

}
/*.slide12 div img:nth-child(1){
	animation: swing 3s 1.5s 1 ease forwards;
}
.slide12 div img:nth-child(2){
	animation: swing 3s 2.0s 1 ease forwards;
}
.slide12 div img:nth-child(3){
	animation: swing 3s 2.5s 1 ease forwards;
}
.slide12 div img:nth-child(4){
	animation: swing 3s 3.0s 1 ease forwards;
}
.slide12 div img:nth-child(5){
	animation: swing 3s 3.5s 1 ease forwards;
}
.slide12 div img:nth-child(6){
	animation: swing 3s 4.0s 1 ease forwards;
}
.slide12 div img:nth-child(7){
	animation: swing 3s 4.5s 1 ease forwards;
}
.slide12 div img:nth-child(8){
	animation: swing 3s 5s 1 ease forwards;
}*/
@keyframes swing{
		0%{
		transform: skew(30deg);
		-webkit-transform: skew(30deg);
		opacity: 0.2;
	}
	33%{
		transform: skew(-30deg);
		-webkit-transform: skew(-30deg);
		opacity: 0.4;
	}
	66%{
		transform: skew(15deg);
		-webkit-transform: skew(15deg);
		opacity: 0.6;
	}
	100%{
		transform: skew(0deg);
		-webkit-transform: skew(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes swing{
	0%{
		transform: skew(30deg);
		-webkit-transform: skew(30deg);
		opacity: 0.2;
	}
	33%{
		transform: skew(-30deg);
		-webkit-transform: skew(-30deg);
		opacity: 0.4;
	}
	66%{
		transform: skew(15deg);
		-webkit-transform: skew(15deg);
		opacity: 0.6;
	}
	100%{
		transform: skew(0deg);
		-webkit-transform: skew(0deg);
		opacity: 1;
	}
}
/*第十三屏*/
.slide13{
	background: url(../img/9-bg.jpg);
	background-size: cover;
}
.slide13 img:nth-child(1){
	width:70%;
	margin: 10% 15%;
}
.mark{
	width:70%;
	margin: 10% 15%;
	
}
.slide13 div{
	width:70%;
	margin:7% 10%;
}
.slide13 div p{
	font-size: 250%;
	color: #fff;
	line-height: 4.5rem;
}
